<div class="app-wrapper">
	<div style="background: #1976d2;
    height: 50px;
    margin-bottom: 20px;">
		<span class="app-bar">Foome</span>
		<button *ngIf="mode!= undefined" style="float: right;
    margin-top: 7px;
    margin-right: 8px;
    border: 2px solid white;
    border-radius: 50px;" (click)="changeMode()">{{mode}} Mode</button>
	</div>

	<div class="slider">
		<div class="card">
			<div class="content">
				<img class="imgs" style="width: 100%;" src="https://lh3.googleusercontent.com/6XRfT1picRrpzeWCPy2yfAWf7lGi1Y6juj8T6c33_KW2dOVVY-tiqfjwNtyBlI8yHEfcIVj_G_iv6KQfdMx_Ai7lqfNwE9-8hBsSM--zbv91xFQLK45gdlivabbMQxT9jY56a5ZO6D7j56hB5hLSc1-R6CpN85_OHXap6SdIRbD4_5--rZ3qJzXO94i7aGvM8VaQUz4M4EfHgK6mt9-5piv-JVQb5sAIaFQn-6fxSefcB70wvwlE4USZ9_Z5iKm8PP-2OqYII6OsDbSmOIzGW0V3kOreJFIV3vQ8wl20W4MmoDmbwu4MLXGJvaDNcB3wZ9wB88m9o8o_ySTuvdKmwTTE7H1Z4sZLCjukaXZagFgmb0OvbOC7PTRwGyew3SbZuy0efTRa6OW40A9BXlFAIErMu9NbJ3OKuBYQM_g1EX9khrB-9q7Z8YEPzHRWk3brZ1hYzEMyV_zy8pH25806nyW5KydqmGYcYMC8YumW_g_RdQDp3AKoIC0AB6cje5YIkGuy5XqUzb8x0f-akDYQcDJSCtDG2hBAeyCT8aOhdiLPILaOQN3SsHYobvlnsmfCU_oDwbju6YtioZ-KfuhvX1l9sWOa5abH9wDGveUqpasYEE14BjFe8N3oEmzz2LMzW6gU52Kb5YBiilfF-PKuYaBEwOQcVNz0k5Z0YDtgonajqS5udHI8sYc=w927-h695-no"/>
			</div>
		</div>
		<div class="card">
			<div class="content">
				<img class="imgs"  style="width: 100%;" src="https://lh3.googleusercontent.com/1dtnCvkzlcSu2nc7wy683kC_j5fOfm7m_K5Bl2005tENMM7RvfrP5-OIa5ZOWf_-XdOs18JX1l1MGOZ-vpbnWIj4Iy4LcMRQ0Uukt2nhH6tpllSimg9DoocTE5rLxIXoGZ3b9PaK1t1YxIcDvFl0nflUY-srzM67f4_ZkP-TRKPN3u7NGPa73BHJMQIkGdgnq2RUjdDjEegc1Etf5cToAOcHWC6KRDSKP5pL4m1cTwYU2BbXdZblHDSgL-STLDVSfYqjsdTioWjyOyxvEqMR3Crj-1bNNdx4Dph8eGhytBOxkGJsXX6XagITQqw2kFXvab2xa4U2WTWtPK2lkT1Hc_CYcw6Jq7vhQIEaraVmv8rWiZcraJ1A5o11XyZzGhJf7d_dEPn_fCf-RsS7yNPHGU-rv37QBaYTwHJF-EEafbin_Mx2EuVplkWzfgsj-mikcIdaVff5fT91F0LBqNsUWaBNukuzFx12qpASPt45nyNNBTw1FnAxIc-Cwz7LtcO1hJMqDEhO4t8kt43daGxEENN-mqCAUahV8hz1BTWZBIOKnYNU_LH4C4h-1vchAw2KKpCm9IIbgYkoaAU59BaZxrtGYvny8lZB1DuyiOc2_C5XEtXZsXqYJRQihhmq26lKOjH1oo9YZaYC-jw7TWhlnumz2DP9_L1oV3B1f-IFJb_LAl18XoQoIHA=w927-h695-no"/>



			
			</div>
		</div>
		<div class="card">
			<div class="content"> <img class="imgs"  style="width: 100%;" src="https://lh3.googleusercontent.com/ZM8Xbgcxz-a6mqku5XbytTs9gpR5JQBxB0bnzxci2Pan_g8QY_ruK1XRI3_pMMcAhjZBggSDO9C3amP4ILAS9IG1TrjyfjNOoivrEEcG9nYNiW5SC-WQRp3eyDDLFIiCm4naiiR9sB-DlEgR1dS7XWRa_kqM6g1VKLzF3s7Uok733UYt6RZ1dmh5wpKINirWzMBmGpTGoYqr30U1JYbcLPI3BOvz3CGs6O9Ysj7R2lWiiUJOKc3lyplcJieTHDtOI2R2w4XBhnGqq-eQeihwthDb1xG0HsvxTXDfAfGFQL8FYr4oLfJiMYZzB9-rGKblEnmgxXI9l3Wp9RXqdXL1_RK0UdLF1QVi8GeGSx69nR3_MaI1OlYqd0BGQ76f2vRNJbBWQZHkkCXTy3P82VYDpGpr3dwMoP245gaHNOo4XMbf4ML7_jyvneRGR1T48CRvECLswM7-QLvNlnS51281gLbD91sgJOvRusMmEWVLC-jQbdti0YWUrd6GALMeDjjuR6ZJeKZRrTAz9dG4fmydMnjavv5qO9BNJc6tzIHiHBzESxAfigEN7G-43FyOKEZ-Zoa5e9w_cz14CXK-Mm67CAjGowSphv3QF-mGrs9sfC6LdRm--62cyS9Oew5JIDm2zlKLw3rVKzQfQqWY8j88_CNkjcwuImlW1INdaYYOkpCDMAhWiHVE900=s695-no"/>
		
			</div>
		</div>
		<div class="card">
			<div class="content"> <img class="imgs"  style="width: 100%;" src="https://lh3.googleusercontent.com/z5GNach6xqZ-U6-YZhpV2U7eTep2ckHJ2N3j-r_ODZBqzlYw_Cdu2oy8EYII_HAxLUmgUR9fkX0ennYOZfjmYYT3CZaOp8-jus3ljyMx_S1iUKno2JswgmxUnrPTZmcMN_9UpTFulrxSg0eAessR1FPSidQTpKGf8KcSCUcFY5i-2XUJ8jWSytdQJXoVWta99sAwDATtMBtB9-GNIQCuy2K2qEsNQgOg62i-r1R3JD5xIXBdun0rj2big5-UW-LRJBaMIcA0RUCvczpcAwPPrR-nMZNw9LMxJRZGXZNNCWXbOLJPzByIMuTKHrUIxTAYoj3V-uAdkZZJ8lPOXLPltRxVeezLxPLvNo75SaT35mCYh1TmeWlFvz_0ofVVA5NlSvCFaUa2AfV0z3z9Ga3b9oYnzVNWiLkMPBDz8tVY85NTUPkMDOuaCkrfAd75vtoZkOLy2JYOfy4OrmXLSxL5QohTxZHvSHq1nIy79EbDO8BGWmSiRW5cFtxEhv0lEbbysoArpoAiBScQx0KqGMQW9TV8xNSCpFFXm-V8xIFkDyP-CTH7E8iuA2pwkLHW0gfsSGxoN1ZxDQfFSKIXXCv-9be8JZfo-sOzVJ6tkJkVXSCiUhe5aPSz2nlLdxdclonu3OyihOX9ngQE06dIub-Kz0YIS1IRXH-fh-Nheor8mUcyB-G5G5miRZI=w927-h695-no"/>
			
			</div>
		</div>
		<div class="card">
			<div class="content"> <img class="imgs"  style="width: 100%;" src="https://lh3.googleusercontent.com/ZuH9KRReChXfG46TiYLyn63uNszT2zlO95FWcvj7-wV79e2LQweYvbhnxvIrlHOrIHsEvxJnoWWwce4cV631a-5KAsnaMZtIV_HiCaMeuApFYDoOlfBAJ6x0nz_bH_GSjh1R6-dn7xgjEhgVGQRhYqh_SXZwjPwcWylFSCfWH-3FjS1ZWKNSKXMGxG3tSiRC-Hx8LC_HbIGYbdaDES0gci__L_DbekgZttXotunMMyA_-89yG3gfCWFr32zWnwPE3wjJrKDhUa0MqfXVgLayAo57_9-3XmzhcqrLhbr5LCp72E0nLoOszm8MKsWF0LsrHA9b4uD1PrtE-896mhCbRjaquv-jMIDCFL2bpdLNmGKP27mdLfI1rMHEZfSaOWsIF6RsjVVRJq1w7Lc3VTrYMaeckE65xXI7cM4pZhB5aMJpgFxsnSDcltNjsXJpwtFfrRV9qy50B1oBIFguNOR0z_wigr_pvYNjRWgz7iznxaKS4NU_F3XPneFEM-TQLoCSYoeiytEWpiokIfJGvi2NqG2C2P53Yoc0x0Q5KmgHLyz0_ma6rCfaCmRlOlOgfDdooDTGkVhgKUd7KiwWoV5U2n07Cu9UlwBwUUfEqVBLn0uKaiWn1XbcpVugwf6l2pgjHW4-UJk4IQBo_I2TJRxxzpAVRUII7YVCztA_gISygVPFwHl-2sPqaT8=w927-h695-no"/>
			</div>
		</div>
		<div class="card">
			<div class="content"><img class="imgs"  style="width: 100%;" src="https://lh3.googleusercontent.com/vtI_yoKdVGM7L_QB6hUdVYFXqNztDPiT8IJvymDXPSz-RtV4Y_5P_cnTf2dyrEEbmQQv087AqBYA5xjShuXgsocZ97XtWHfymB870OrMAf0aIxTm44dblYMNaw9-4T9LeGvd8I9vZHffDrj1LXa1648VqynS7Suu7jQdpI0ca1HbP87LXADpkIg5AI8FOspZf-oUQQd3VFd_89fCsurzz0mbZ-uCGJ1ohbdNz4AbLKWZfSlxVzLaAE0HY_bdzOC8vJouy2Xg7AJi-lIBXeAYlahxHqKOtRvo9Rvh_-_SXxLwyN7zVg10gukBxF-XuxkaGkk48aRHKhKekXSvu2lnBvv2R7vMmxhFYQg6UD1FUCCdJ8g9gLa5UcIfUK5eIpkq8vuv6DrFm1kl2GZNKLGJvmzuO3061mvKkVs-_5O9kAiHsvLzpiliWit-QnJAi11g9IlnAEA_4-SR_CM67lxfE6eXrAIXtWEFFBetLr5U7Qt5Zvsz56rTkLYA0Jrm6zWwSdzNtJAq9l_JM1JiV-ndQG4y30hAB9yHmovTXqKJPDkQ2ZJ7WqFHRGAk7qj4PLLlsGVvYyLWFY_amP5i0iaVLvs57sgRtODQCoL8ndmqbjifqJI_OaC2j0LFGdNq596ahwbmuB_J0H3GCE2nET-lyb41oTimrulx8k9-zI1ku2XWe3Qh1WfdA_s=w927-h695-no"/>
			</div>
		</div>
	</div>


	<div style="display: flex;">
		<div style="width:50%; padding: 0 20px;">
			<button class="filter-btn" (click)="filter('Food')">Food</button>
		</div>
		<div style="width:50%; padding: 0 20px;">
			<button class="filter-btn" (click)="filter('Beverage')">Beverage</button>
		</div>
	</div>
	<div *ngIf="filteredList.length">
		<div style="text-align: center">
			<div style="border: 1px solid #e2e2e2;
    height: 50px;
    border-radius: 34px;
    line-height: 50px;
    color: gray;
    text-align: left;
    padding-left: 20px; margin: 20px; background: white;">
				<span *ngIf="selected" [ngClass]="{'green': filteredList[selected -1 ][5] =='YES'}">	{{filteredList[selected -1 ][1]}}</span>
			</div>
			<!-- <div>
			<span *ngIf="selected">	{{data.values[selected -1 ][2]}}</span>
		</div> -->

			<div style="height: 10px">
				<div *ngIf="selected && isFinish">
					<span *ngFor="let star of [1,2,3,4,5], index as i">
      <i style="color: #ffeb00;margin: 0 15px;" class="fa"  [ngClass]="{'fa-star':(i <= filteredList[selected -1 ][6]-1), 'fa-star-o':(i>filteredList[selected -1 ][6]-1)}"  aria-hidden="true"></i>
    </span>
				</div>
			</div>

			<button style="cursor: pointer;
    font-weight: bold;
    border-radius:53px;
    height: 45px;
    text-align: center; margin-bottom: 20px; margin-top: 20px;" (click)="lucky()">I'm feeling lucky</button>
		</div>



		<div>
			<ul style="list-style-type:none;padding-left: 0;height: 300px;overflow-Y: scroll;" *ngIf="data">
				<li [ngClass]="{'green-bg': hero[5] =='YES'}" style="background: white;height: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: gray;" *ngFor="let hero of filteredList">
					{{ hero[1] }}
				</li>
			</ul>
		</div>

		<!-- <div class="container">
		<iframe class="video" width="560" height="315"
			src="https://www.youtube.com/embed/k9ugQc0UhZ8?controls=0&autoplay=1" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div> -->
	</div>
</div>