<div style="    max-width: 500px;
    margin: 0 auto;
    min-height: 500px;
    background: #fdfdfd;   ">
	<div style="background: #1976d2;
    height: 50px;
    margin-bottom: 20px;">
		<span style="    color: white;
    text-transform: uppercase;
    line-height: 50px;
    margin-left: 20px;
    font-weight: bold;">Food app</span>
	</div>
	<div style="text-align: center">

		<div style="border: 1px solid #e2e2e2;
    height: 50px;
    border-radius: 34px;
    line-height: 45px;
    color: gray;
    text-align: left;
    padding-left: 20px; margin: 20px; background: white;">
			<span *ngIf="selected">	{{data.values[selected -1 ][1]}}</span></div>


		<button style="cursor: pointer;
    font-weight: bold;
    border-radius:53px;
    height: 45px;
    text-align: center; margin-bottom: 20px; margin-top: 20px;" (click)="lucky()">I'm feeling lucky</button>


	</div>
</div>



<!-- <ul *ngIf="data">
	<li *ngFor="let hero of data.values">
		{{ hero }}
	</li>
</ul> -->